<?xml version="1.0" encoding="utf-8"?>
<manifest package="www.knowledgeshare.com.knowledgeshare"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LancherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".login.ForgetActivity"/>
        <activity android:name=".login.AlterActivity"/>
        <activity android:name=".login.SetloginActivity"/>
        <activity android:name=".fragment.home.SearchActivity"/>
        <activity android:name=".fragment.home.GuDianActivity"/>
        <activity android:name=".fragment.home.FreeActivity"/>
        <activity android:name=".fragment.home.MyGuanzhuActivity"/>
        <activity android:name=".fragment.home.LikeDetailActivity"/>
        <activity android:name=".activity.MySubscriptionsActivity"/>
        <activity android:name=".activity.LearningTimeActivity"/>
        <activity android:name=".fragment.home.DemoActivity"/>
        <activity android:name=".fragment.home.MusicActivity"/>
        <activity android:name=".fragment.home.BoFangListActivity"/>
        <activity android:name=".fragment.home.TeacherDetailActivity"/>
        <activity android:name=".activity.LearningRecordActivity"/>
        <activity android:name=".activity.MyAccountActivity"/>
        <activity android:name=".activity.MyMedalActivity"/>
        <activity android:name=".activity.SettingActivity"/>
        <activity android:name=".fragment.home.EveryDayCommentActivity"/>
        <activity android:name=".fragment.home.SoftMusicActivity"/>
        <activity android:name=".fragment.home.MusicMasterActivity"/>
        <activity android:name=".login.GuidePageActivity"/>
        <activity android:name=".login.MessageActivity"/>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".login.bean.HobbyActivity"/>
        <activity android:name=".fragment.home.ZhuanLanActivity"/>
        <activity android:name=".fragment.home.ZhuanLanDetail1Activity"/>
        <activity android:name=".fragment.home.ZhuanLanDetail2Activity"/>
        <activity android:name=".activity.AccountSafeActivity"/>
        <activity android:name=".activity.BrowserHistoryActivity"/>
        <activity android:name=".activity.DownLoadActivity"/>
        <activity android:name=".activity.BindPhoneActivity"/>
        <activity android:name=".fragment.home.SoftMusicDetailActivity">
        </activity>
        <activity
            android:name=".fragment.home.LiuYanActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name=".fragment.home.DownLoadListActivity">
        </activity>
    </application>

</manifest>